{
    "name": "postg-connector",
    "config": {
        "connector.class": "io.confluent.connect.jdbc.JdbcSourceConnector",
        "tasks.max": 1,    
        "connection.url": "jdbc:postgresql://127.0.0.1:5432/postgres",
        "connection.user": "postgres",
        "connection.password": "Ney1987",
        "mode": "timestamp",
        "timestamp.column.name": "dt_update",
        "table.whitelist": "public.customers",
        "topic.prefix": "pc-",
        "validate.non.null": "false",
        "poll.interval.ms": 500
    }
}